{% extends "base/base1.html" %}
{% block content %}
<p> </p>
<p> </p>
<p> </p>
<p> </p>
<p> </p>
<h2>Commander</h2>

<p>Faites vous livrer directement un carton de 24 bouteilles ( ou plusieurs …), directement chez vous, dans toute la France.
Le prix est fixe, franco de port.
Le règlement se fait par chèque ou virement bancaire.</p>


<p>Remplissez les champs ci dessous en nous précisant la quantité et la bière choisie (le total de la commande doit être un multiple de 24).
Nous vous contaterons par e-mail afin de convenir du lieu et de la date de livraison, ainsi que des modalités de paiement.</p>
 <p>COMMANDE:</p>
 <textarea rows="4" cols="50">
</textarea>
 <button type="button">Commander!</button> 
{% endblock %}
