{% extends "base/base1.html" %}
{% block content %}
<p> </p>
<p> </p>
<p> </p>
<p> </p>
<body>
<h2>Commander</h2>

<p>Faites vous livrer directement un carton de 24 bouteilles ( ou plusieurs …), directement chez vous, dans toute la France.
Le prix est fixe, franco de port.
Le règlement se fait par chèque ou virement bancaire.</p>

<p>DISPONIBLE EN CE MOMENT:</p>

<p>Perle Classique 5,4% – 2,50€/btl</p>

<p>Blanche Perle et les sept grains 4,8% – 3€/btl </p>

<p>Perle des Iles 7,0% – 3€/btl</p>

<p>Perle HOP Simcoe 6,2% – 3€/btl</p>

<p>Dans les Vignes 7,2% – 3,50€/btl</p>

<p>Vous pouvez bien évidemment panacher les bières choisies suivant les disponibilités.</p>

<p>Remplissez les champs ci dessous en nous précisant la quantité et la bière choisie (le total de la commande doit être un multiple de 24).
Nous vous contaterons par e-mail afin de convenir du lieu et de la date de livraison, ainsi que des modalités de paiement.</p>
 <p> </p>
 <p>COMMANDE:</p>
 <textarea rows="4" cols="50">
</textarea>
 <button type="button">Commander!</button>  
<p> </p>
<p> </p>
<p> </p>
</body>
{% endblock %}
