{% extends "base/base1.html" %}

{% block content %}
<p> </p>
<p> </p>
<p> </p>
<section>

		<img src="{{ STATIC_URL }}images/Barbane3.png"width="125" height="80"/>
<h1>BARBANE DÉMENTHE</h1>
	</section>
	<section>
		<img src="{{ STATIC_URL }}images/Barbane4.png"width="125" height="80"/>
	<h1>BARBANE FLORALE</h1>
	</section>
	<section>
		<img src="{{ STATIC_URL }}images/Barbane5.png"width="125" height="80"/>
	<h1>BARBANE BLONDE</h1>
	</section>
<section>
		
		<img src="{{ STATIC_URL }}images/Barbane6.png"width="125" height="80"/>
<h1>BARBANE NOEL</h1>
	</section>
	<section>
		
		<img src="{{ STATIC_URL }}images/Barbane7.png"width="125" height="80"/>
	<h1>BARBANE MONDIALE </h1>
	</section>
	<section>
		
		<img src="{{ STATIC_URL }}images/Barbane8.png"width="125" height="80"/>
	<h1>BARBANE Dans Les Vignes</h1>
	</section>
	
	{% endblock %}
