{% extends "base/base1.html" %}

{% block content %}
<p> </p>
<p> </p>
<p> </p>
<section>

		 <a href="/BARBANE_DEMENTHE"><img src="{{ STATIC_URL }}images/Barbane3.png"width="125" height="80" />
<h1>BARBANE DÉMENTHE</h1></a>
	</section>
	<section>
		
		<a href="/BARBANE_FLORALE"><img src="{{ STATIC_URL }}images/Barbane4.png"width="125" height="80"/>
	<h1>BARBANE FLORALE</h1></a>
	</section>
	<section>
		<a href="/BARBANE_BLONDE"><img src="{{ STATIC_URL }}images/Barbane5.png"width="125" height="80"/>
	<h1>BARBANE BLONDE</h1></a>
	</section>
<section>
	<p> </p>	
	<p> </p>
	<p> </p>
		<a href="/BARBANE_NOEL"><img src="{{ STATIC_URL }}images/Barbane6.png"width="125" height="80"/>
<h1>BARBANE NOEL</h1></a>
	</section>
	<section>
		
		<a href="/BARBANE_MONDIALE"><img src="{{ STATIC_URL }}images/Barbane7.png"width="125" height="80"/>
	<h1>BARBANE MONDIALE </h1></a>
	</section>
	<section>
		
		<a href="/BARBANE_DANS_LES_VIGNES"><img src="{{ STATIC_URL }}images/Barbane8.png"width="125" height="80"/>
	<h1>BARBANE Dans Les Vignes</h1></a>
	</section>
	
	{% endblock %}
